Package: com.igiazlas.redditsafarivc
Name: RedditSafariVC
Depends: mobilesubstrate
Version: 0.0.9
Architecture: iphoneos-arm
Description: Replaces WebView with SFSafariViewController in Reddit's official app.
Maintainer: John Giazlas
Author: John Giazlas
Section: Tweaks
